* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 50px
}

body {
    background-color: #1b1b32;
    color: #f5f6f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto
}

.content-start {
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 30px
}

.header {
    width: 100%;
    position: fixed;
    background-color: #0a0a23
}

.header__logo-title {
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-bottom: 4px
}

.header__nav {
    width: 100%;
    padding: 4px 15px 4px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.header__right-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px
}

.header__nav-wrapperLink {
    list-style-type: none
}

.header__nav-link {
    text-decoration: none;
    display: block;
    padding: 0 12px;
    color: #fff;
    font-size: 18px
}

.header__nav-link:hover {
    background-color: #dfdfe2;
    color: #0a0a23
}

.header__menu-button {
    background-color: #0a0a23;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    padding: 0 12px;
    display: none
}

.header__menu-buttonActive {
    background-color: #dfdfe2;
    color: #0a0a23
}

.home {
    width: 100%
}

.home__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 130px 15px 30px 15px
}

.home__first-text {
    font-weight: 600;
    font-size: 40px
}

.home__second-text {
    font-weight: 600;
    font-size: 40px
}

.home__third-text {
    font-weight: 600;
    font-size: 40px
}

.home__my-photo {
    max-width: 500px;
    width: 100%;
    padding-top: 50px
}

.about {
    width: 100%
}

.about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.about__aboutTexts-wwrapper {
    max-width: 768px;
    width: 100%;
    padding: 45px 15px 50px 15px
}

.skills {
    width: 100%
}

.skills__skills-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 20px
}

.skills__languages-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px
}

.skills__categoryies {
    padding-bottom: 15px;
    font-weight: bold
}

li {
    color: #d0d0d5;
    list-style-type: #d0d0d5
}

.portfolio {
    width: 100%
}

.portfolio__projects-wrapper {
    padding: 50px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.portfolio__certificate-img {
    max-width: 300px;
    width: 100%
}

.contact {
    width: 100%;
    color: #d0d0d5;
    background-color: #2a2a40
}

.contact__contacts-wrapper {
    padding: 30px 15px 50px 15px
}

.contact__network-icon {
    margin-right: 8px
}

.contact__network-link {
    color: #d0d0d5;
    text-decoration: none
}

.contact__network-link:hover {
    text-decoration: underline
}

.contact__networkLinks-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px
}

.contact__content-start {
    text-align: center
}

.contact__form {
    max-width: 450px;
    width: 100%;
    gap: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.contact__input {
    width: 100%;
    background-color: #0a0a23;
    height: 30px;
    border: 1.5px solid #3b3b4f;
    outline: none;
    padding-left: 5px;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s;
    color: #fff;
    font-weight: 600
}

.contact__input:focus {
    border-color: #fff;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

.contact__label {
    font-weight: 600
}

.contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}

.contact__textarea {
    border: 1px solid #3b3b4f;
    outline: none;
    background-color: #0a0a23;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 5px;
    color: #fff;
    resize: none
}

.contact__textarea:focus {
    border-color: #fff;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s
}

.contact__send-btn {
    height: 33px;
    border: 2px solid #d0d0d5;
    background-color: #3b3b4f;
    color: #d0d0d5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600
}

.contact__send-btn:hover {
    background-color: #dfdfe2;
    color: #0a0a23
}

@media screen and (max-width:835px) {
    .header__nav-menu {
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        display: none;
        background-color: #0a0a23;
        top: 38px;
        gap: 0;
        right: 0;
        max-width: 200px;
        width: 100%
    }

    .header__menu-active {
        display: block
    }

    .header__nav-wrapperLink {
        width: 100%;
        height: 45px
    }

    .header__nav-link {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .header__menu-button {
        display: block;
        margin-left: 10px
    }
}

@media screen and (max-width:768px) {

    .home__first-text,
    .home__second-text,
    .home__third-text {
        font-size: 30px
    }

    .content-start {
        font-size: 30px
    }

    .home__my-photo {
        max-width: 350px
    }
}